.btn-nav:hover {
    border-bottom: 5px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    list-style-type: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation-name: opacity-animation;
    animation-duration: 0.25s;
}

.valores {
    list-style-type: none;
}

@keyframes opacity-animation {
    from {
        opacity: 0
    }
    to {
        opacity: 100%
    }
}

.table-bordered tr:first-child {
    border-top-width: 0;
}

.table-bordered tr:last-child {
    border-bottom-width: 0;
}

.table-bordered th:first-child {
    border-left-width: 0;
}

.table-bordered th:last-child {
    border-right-width: 0;
}

.table-bordered td:first-child {
    border-left-width: 0;
}

.table-bordered td:last-child {
    border-right-width: 0;
}
